body{
    background-color:rgb(171, 211, 226);
}

div.MENUBAR{
    background-color:rgb(40, 28, 168);
    color:rgb(0, 238, 255);
}
input.fontSizeSlider{
    background-color: rgb(186, 186, 186);
    border: solid 1px #d3ecff;
}
input.fontSizeSlider::-webkit-slider-thumb{
    background: #1a8543;
    border: #4ee385 1px solid;
}
select.themeSelect,option.themeOption{
    background-color: rgb(255, 242, 0);
    color:rgb(0, 0, 0);
}

textarea.MainEditor{
    background-color: rgb(196, 235, 222);
    color: rgb(253, 74, 181);
    border:transparent 2px solid
}
textarea.MainEditor:focus{
    border:rgba(0, 0, 0, 0.5) 2px solid
}

textarea.MainEditor::-webkit-scrollbar-thumb {
    background-color: rgba(243, 241, 114, 1);
}
textarea.MainEditor::-webkit-scrollbar-track {
    background-color: rgba(135, 127, 127, 0.15);
}

div.UNDERBAR{
    background-color:rgb(48, 34, 118);
}
button.CtrlBtn{
    border: rgb(48, 34, 118) 1 solid;
    background-color: rgb(48, 34, 118);
    color:rgb(218, 243, 181);
}
button.CtrlBtn:hover{
    background-color:rgb(41, 232, 232);
}
button.CtrlBtn:active{
    background-color:rgb(148, 148, 148);
}
button.FileBtn{
    border-left:1px rgb(218, 243, 181) solid;
    border-right:1px rgb(3, 3, 3) solid
}
input.fileNameInput{
    background-color: rgba(48, 34, 118);
    color:rgb(218, 243, 181);
}
input.fileNameInput::placeholder{
    color:rgba(255,255,255,0.3);
}

span.keepMenu{
    background-color: rgb(0, 186, 34);
    box-shadow: 2px 2px rgba(62, 62, 62, 0.3);
    color: rgb(0, 0, 0);
}
button.KeepBtn{
    background-color: rgb(176, 176, 176);
    color:rgb(0, 0, 0);
}
button.KeepBtn:hover{
    background-color: rgb(160, 160, 160);
}
button.KeepBtn:active{
    background-color: rgb(130, 130, 130);
}
button.KeepBtn:disabled{
    background-color: rgb(90, 90, 90);
    color:gray
}

span.InfoArea{
    background-color: rgba(255, 255, 255, 0.8);
    color:rgb(0, 0, 0);
}
span.infoTitle{
    background-color: rgba(255,255,255,0.6);
    color:rgb(0, 0, 0);
}

button.ToolsBtn{
    background-color: rgba(225, 225, 225, 0.7);
    color:rgb(0, 0, 0);
    border:rgba(255, 255, 255, 0.8) 1px solid;
}
button.ToolsBtn:hover{
    background-color: rgba(255, 255, 255);
}
button.ToolsBtn:active{
    background-color: rgba(225, 225, 225, 0.5);
}

span.toolsMenu{
    background-color: rgba(255, 100, 227, 0.95);
}

span.toolsH{
    color:rgb(255, 255, 255)
}
input.toolsInput{
    color:rgb(0, 0, 0);
    background-color: rgba(160, 160, 160);
}
input.toolsInput:disabled{
    background-color: rgba(235, 255, 245, 0.2);
}
input.toolsInput::placeholder{
    color:rgba(0, 0, 0, 0.3);
}
input.toolsInput:focus::placeholder{
    color:rgba(45, 45, 45, 0.5);
    cursor: none;
}

button.toolsMenu_Btn{
    background-color: rgba(95, 95, 95, 0.5);
    color: rgb(0, 0, 0);
}
button.toolsMenu_Btn:hover{
    background-color: rgba(85, 85, 85, 0.55);
}
button.toolsMenu_Btn:active{
    background-color: rgba(70, 70, 70, 0.55);
}

input.toolsInput_Answer{
    color:rgb(0, 0, 0)
}
span.toolsBox_Color{
    transition: 0.1s;
    color:rgb(0, 0, 0);
    background-color: rgba(245, 245, 245, 0.2);
}
span.toolsBox_Color:active{
    background-color: rgba(160, 160, 160, 0.24);
}

span.tools_colorPaletteArea{
    border: black 1px dotted;
}